* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

:root {
  --bg-colorBlack: #444;
  --bg-colorWhite: #fff;
  --color1: #ccc;
  --color2: #bbb;
  --color-bolinha: deeppink;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  padding: 1em 0;
}

p {
  margin: 1em 0;
}

.page {
  background: var(--bg-colorWhite);
  color: var(--color-font1);
  min-height: 100vh;
}
/* é a classe que anterior a ela no html, com isso quando o elemento checkbox estiver checked o  seletor de irmão próximo(~) seleciona o próximo elemento*/
#dark-mode-input:checked ~ .page {
  background: var(--bg-colorBlack);
  color: var(--bg-colorWhite);
}

#dark-mode-input {
  display: none;
}

.dark-mode-toggler {
  position: absolute;
  width: 40px;
  height: 20px;
  background: var(--color1);
  border: 2px solid var(--color2);
  border-radius: 20px;
  top: 10px;
  right: 10px;
  transition: all 300ms ease-in-out;
}

.dark-mode-toggler span {
  width: 12px;
  height: 12px;
  background: var(--color-bolinha);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 300ms ease-in-out;
}

#dark-mode-input:checked ~ .dark-mode-toggler {
  background: var(--color-bolinha);
}

#dark-mode-input:checked ~ .dark-mode-toggler span {
  background: var(--color1);
  left: 21px;
}
